h1, h3 {
    color: brown;
    text-align: center;
    font-family: roboto, sans-serif;
}
.head {
    background-color: bisque;
}

table {
    font-family: monospace;
    font-weight: 400;
    font-size: 15px;
    margin: auto;
    border: 2px solid brown;
    width: 650px;
}

td {
    border-top: 1px solid brown;
}

html {
    background-color: rgb(247, 245, 242);
}